* {
    box-sizing: border-box;
}

html, body {
    font-family: "Noto Sans", "Noto Sans CJK", "Hiragino Sans GB", "Microsoft YaHei", sans-serif
}

h1 {
    margin-bottom: 20px;
    font: 28px/1.5 sans-serif;
}

#terminal-area {
    display: flex;
    position: relative;
}

#danmu {
    position: absolute;
    top: 0;
    left: 0;
    right: 200px;
    bottom: 0;
}

#chat {
    width: 200px;
    order: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 960px) {
   .mobile-hide{ display: none !important; }
}

#danmu-panel {
    flex: 1;
}

#chat-form {

}

table {
    display: table;
    width: 100%;
}
table thead, table tbody {
    float: left;
    width: 100%;
}
table tbody {
    overflow: auto;
    /* Giving height to make the tbody scroll */
    /* Giving height dynamically is recommended */
    height: 300px;
}
table tr {
    width: 100%;
    display: table;
    /* Keeping the texts of both thead and tbody in same alignment */
    text-align: left;
}

#delay::before {
    content: "Delay: ";
}

#delay::after {
    content: "s";
}

.terminal {
    flex: 1;
    order: 0;
    border: #000 solid 5px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", "Monaco", "Consolas", monospace !important;
    font-size: 20px;
    color: #f0f0f0;
    background: #000;
}
.terminal-cursor {
    color: #000;
    background: #f0f0f0;
}
.code-video {
    width: 360px;
    height: 240px;
}

.code-video div {
    width: 100%;
    height: 100%
}

#video {
    float: right;
}
